<header>
  <nav class="navbar navbar-inverse main-navbar navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header main-navbar-header">
        <button type="button" class="navbar-toggle main-navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
        <a class="navbar-brand main-navbar-brand" href="<%= root_path %>" style="<%=link_color(0)%>"><%= brand_name() %></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav ">
          <li><a href="<%= root_path %>" style="<%=link_color(0)%>">ACCUEIL</a></li>
          <li><a href="" style="<%=link_color(0)%>">A PROPOS</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle custom" data-toggle="dropdown" href="#" style="<%=link_color(0)%>">FR
            <span class="caret"></span></a>
            <ul class="dropdown-menu lang-dropdown">
              <li><a href="#">English</a></li>
              <li><a href="#">Dutch</a></li>
              <li><a href="#">Español</a></li>
            </ul>
          </li>  
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <form class="navbar-form" action="">
              <div class="input-group">
                <input type="text" class="form-control search-form-control" placeholder="___________">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                  </button>
                </div>
              </div>
            </form></li>
          <li class="login-button-container"><button class="login-button" style="<%=link_color(0)%>"><span class="glyphicon glyphicon-user"></span> SE CONNECTER</button></li>
          <li class="shopping-bag-container"><button class="shopping-bag-button" style="<%=link_color(0)%>"><img class="shopping-bag" src="https://img.icons8.com/windows/32/000000/shopping-bag.png"></button></li>
        </ul>
      </div>
    </div>
  </nav>

  <nav class="navbar navbar-inverse second-navbar navbar-fixed-top">
    <div class="container-fluid">
      <ul class="nav navbar-nav second-navbar-nav">
        <li id="femme">
          <a href="<%= women_path %>" style="<%=link_color(1)%>">Femmes</a>
        </li>
        <li>
          <a href="<%= men_path %>" style="<%=link_color(1)%>" >Hommes</a>
        </li>
        <li>
          <a href="<%= kids_path %>" style="<%=link_color(1)%>" >Enfants</a>
        </li>
        <li>
          <a href="#" style="<%=link_color(1)%>">Accessoires</a>
        </li>
        <li>
          <a href="#" style="<%=link_color(1)%>">Nos Petits Chéris</a>
        </li>
        <li>
          <a href="#" style="<%=link_color(1)%>">Sold</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="row categories_women-container">   
    <div class="categories_women-container-margin_center">
      <div class="col-md-3 column-container">      
          <div class="row column-title">      
            <a class="list-title" href="#" style="<%=link_color(1)%>"> Classique</a>
            <ul class="categorie-list"> 
              <li class="  categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Tous</span></a>
              </li>  
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Vestes & Manteau</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Pull & Gillet</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Robes & Combinaisons</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Blazers</span></a>
              </li>
                <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Chemises</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Blouses</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>T-shirt</span></a>
              </li>
                <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Tops</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Polos</span></a>
              </li>
                <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Jeans</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Pantalons</span></a>
              </li>
                <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Jupes</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Shorts</span></a>
              </li>
                <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Maillots de bainLingerie</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Vêtement d'intérieur & Pyjamas</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Chaussettes & Collants</span></a>
              </li>
            </ul>
          </div>
      </div>

        <div class="col-md-3 column-container">      
          <div class="row column-title">      
            <a class="list-title" href="#" style="<%=link_color(1)%>">Urbain</a>
            <ul class="categorie-list"> 
                <li class="  categorie-list-row">
                  <a href="#" style="<%=link_color(1)%>"><span>Tous</span></a>
                </li>  
                <li class=" categorie-list-row">
                  <a href="#" style="<%=link_color(1)%>"><span>Vestes & Manteau</span></a>
                </li>
                <li class=" categorie-list-row">
                  <a href="#" style="<%=link_color(1)%>"><span>Sweats</span></a>
                </li>
                <li class=" categorie-list-row">
                  <a href="#" style="<%=link_color(1)%>"><span>Chemises</span></a>
                </li>
                <li class=" categorie-list-row">
                  <a href="#" style="<%=link_color(1)%>"><span>Blouses</span></a>
                </li>
                <li class=" categorie-list-row">
                  <a href="#" style="<%=link_color(1)%>"><span>T-shirt</span></a>
                </li>
                <li class=" categorie-list-row">
                  <a href="#" style="<%=link_color(1)%>"><span>Tops</span></a>
                </li>
                <li class=" categorie-list-row">
                  <a href="#" style="<%=link_color(1)%>"><span>Jeans</span></a>
                </li>
                <li class=" categorie-list-row">
                  <a href="#" style="<%=link_color(1)%>"><span>Pantalons</span></a>
                </li>
                <li class=" categorie-list-row">
                  <a href="#" style="<%=link_color(1)%>"><span>Jupes</span></a>
                </li>
                <li class=" categorie-list-row">
                  <a href="#" style="<%=link_color(1)%>"><span>Shorts</span></a>
                </li>
                <li class=" categorie-list-row">
                  <a href="#" style="<%=link_color(1)%>"><span>Maillots de bain</span></a>
                </li>
                <li class=" categorie-list-row">
                  <a href="#" style="<%=link_color(1)%>"><span>Lingerie</span></a>
                </li>
                <li class=" categorie-list-row">
                  <a href="#" style="<%=link_color(1)%>"><span>Vêtement d'intérieur & Pyjamas</span></a>
                </li>
                <li class=" categorie-list-row">
                  <a href="#" style="<%=link_color(1)%>"><span>Chaussettes & Collants</span></a>
                </li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 column-container">      
          <div class="row column-title">      
            <a class="list-title" href="#" style="<%=link_color(1)%>">Accessoires & Chaussures</a>
            <ul class="categorie-list"> 
              <li class="  categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Tous</span></a>
              </li>  
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Sacs</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Montres</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Bonnets, Gants & Écharpes</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Porfeuilles & Porte-clefs</span></a>
              </li>
                <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Ceintures</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Bijoux</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Lunettes de soleil</span></a>
              </li>
                <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Parfums</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Bottes</span></a>
              </li>
                <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Baskets</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Chaussures plates</span></a>
              </li>
                <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Escarpins</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Sandales</span></a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 column-container">      
          <div class="row column-title">      
            <a class="list-title" href="#" style="<%=link_color(1)%>">Tous</a>
            <ul class="categorie-list"> 
              <li class="  categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Tous</span></a>
              </li>  
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Vestes & Manteau</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Pull & Gillet</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Robes & Combinaisons</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Blazers</span></a>
              </li>
                <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Chemises</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Blouses</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>T-shirt</span></a>
              </li>
                <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Tops</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Polos</span></a>
              </li>
                <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Jeans</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Pantalons</span></a>
              </li>
                <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Jupes</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Shorts</span></a>
              </li>
                <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Maillots de bainLingerie</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Vêtement d'intérieur & Pyjamas</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Chaussettes & Collants</span></a>
              </li>
            </ul>
          </div>
        </div>
    </div>
      
  </div>

<div class="login-sign_up-div">
  <div class="login-sign_up-container">

    <div class="sign_up-container">
      <h4>Nouveau membre</h4>
      <form method="" action="<%= root_path %>" autocomplete="on">
        <input class="input-user input-two-item" type="text" name="name" placeholder="Votre prénom" required>
        <input class="input-user input-two-item input-two-item-rigth" type="text" name="lastname" placeholder="Votre nom" required><br><br>
        <input class="input-user input-one-item" type="text" name="sign_up_email" placeholder="Votre adresse mail" required><br><br>
        <input class="input-user input-two-item" type="password" name="sign_up_password" placeholder="Votre mot de passe" required>
        <input class="input-user input-two-item input-two-item-rigth" type="password" name="password_confirm" placeholder="Confirmer" required><br><br>
        <input class="input-user input-day" type="number" name="day" placeholder="jour" min="1" max="31" maxlength="2">
        <div class="select-month-container">
          <select class="select-month" name="month">
            <option value="1">Janvier</option>
            <option value="2">Février</option>
            <option value="3">Mars</option>
            <option value="4">Avril</option>
            <option value="5">Mai</option>
            <option value="6">Juin</option>
            <option value="7">Juillet</option>
            <option value="8">Aout</option>
            <option value="9">Septembre</option>
            <option value="10">Octobre</option>
            <option value="11">Nomvembre</option>
            <option value="12">Décembre</option>
          </select>
        </div>
        <input class="input-user input-year" type="number" name="year" placeholder="Année" maxlength="4"><br><br>
        <br><input class="checkbox_style input-checkbox-terme" id="sign_up-terme-checkbox" type="checkbox" name="sign_up-terme" required>
        <label class="terme-label" for="sign_up-terme-checkbox">
          <span>Je confirme avoir lu et accepté les <a href="" target="_blank">conditions générales</a> de la boutique en ligne, y compris la <a href="" target="_blank">politique de confidentialité</a>.</span>
        </label><br><br>
        <br><input class="checkbox_style input-checkbox-newsletter" id="sign_up-Newsletter" type="checkbox" name="sign_up-Newsletter">
          <label class="newsletter-label" for="sign_up-Newsletter">
            <span>S’inscrire à la Newsletter</span>
          </label><br>
        <div class="Newsletter-details_terme">
          <span>Newsletter conditions ralonge blablabla</span>
        </div>
        <br><br><button class="form-button" type="submit"> M'inscrire</button>
      </form>
    </div>
    <div class="login-container">
        <h4>Déjà membre</h4>
        <form method="" action="<%= root_path %>" autocomplete="on">
          <input class="input-user input-one-item" type="text" name="login_email" placeholder="Saisissez votre adresse mail" required><br><br>
          <input class="input-user input-one-item" type="password" name="login_password" placeholder="Saisissez un mot de passe" required><br><br>
          <div class="remember-forgot-container">
            <button class="forgot-button" type="button">Mot de passe oublié?</button>
            <div class="input-remember-checkbox-container">
              <input class="checkbox_style input-remember-checkbox" id="login-remember-checkbox" type="checkbox" name="login-remember" required>
              <label for="input-remember-message">
              <span>Se souvenir de moi</span>
              </label>
            </div>
          </div>
          <br><button class="form-button" type="submit">Me Connecter</button>
        </form>
    </div>

  </div>
</div>
</header>

