<header>
  <nav class="navbar navbar-inverse main-navbar navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header main-navbar-header">
        <button type="button" class="navbar-toggle main-navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span> 
        </button>
        <a class="navbar-brand main-navbar-brand" href="<%= root_path %>" style="<%=link_color(0)%>"><%= brand_name() %></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav ">
          <li><a href="<%= root_path %>" style="<%=link_color(0)%>">ACCUEIL</a></li>
          <li><a href="<%= about_path %>" style="<%=link_color(0)%>">A PROPOS</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle custom" data-toggle="dropdown" href="#" style="<%=link_color(0)%>">FR
            <span class="caret"></span></a>
            <ul class="dropdown-menu lang-dropdown">
              <li><a href="#">English</a></li>
              <li><a href="#">Dutch</a></li>
              <li><a href="#">Español</a></li>
            </ul>
          </li>  
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <form class="navbar-form" action="<%= about_path %>">
              <div class="input-group">
                <input type="text" class="form-control search-form-control" placeholder="___________">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                  </button>
                </div>
              </div>
            </form></li>
          <li class="login-button-container"><button class="login-button" style="<%=link_color(0)%>"><span class="glyphicon glyphicon-user"></span> SE CONNECTER</button></li>
          <li class="shopping-bag-container"><button class="shopping-bag-button" style="<%=link_color(0)%>"><img class="shopping-bag" src="https://img.icons8.com/windows/32/000000/shopping-bag.png"></button></li>
        </ul>
      </div>
    </div>
  </nav>

  <nav class="navbar navbar-inverse second-navbar navbar-fixed-top">
    <div class="container-fluid">
      <ul class="nav navbar-nav second-navbar-nav">
        <li id="femme">
          <a href="#" style="<%=link_color(1)%>">Femmes</a>
        </li>
        <li>
          <a href="#" style="<%=link_color(1)%>" >Hommes</a>
        </li>
        <li>
          <a href="#" style="<%=link_color(1)%>" >Enfants</a>
        </li>
        <li>
          <a href="#" style="<%=link_color(1)%>" >Accessoires</a>
        </li>
        <li>
          <a href="#" style="<%=link_color(1)%>" >Nos Petits Chéris</a>
        </li>
        <li>
          <a href="#" style="<%=link_color(1)%>" >Sold</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="row categories_women-container">   
    <div class="categories_women-container-margin_center">
      <div class="col-md-3 column-container">      
          <div class="row column-title">      
            <a class="list-title" href="#" style="<%=link_color(1)%>"> Classique</a>
            <ul class="categorie-list"> 
              <li class="  categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Tous</span></a>
              </li>  
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Vestes & Manteau</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Pull & Gillet</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Robes & Combinaisons</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Blazers</span></a>
              </li>
                <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Chemises</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Blouses</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>T-shirt</span></a>
              </li>
                <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Tops</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Polos</span></a>
              </li>
                <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Jeans</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Pantalons</span></a>
              </li>
                <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Jupes</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Shorts</span></a>
              </li>
                <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Maillots de bainLingerie</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Vêtement d'intérieur & Pyjamas</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Chaussettes & Collants</span></a>
              </li>
            </ul>
          </div>
      </div>

        <div class="col-md-3 column-container">      
          <div class="row column-title">      
            <a class="list-title" href="#" style="<%=link_color(1)%>">Urbain</a>
            <ul class="categorie-list"> 
                <li class="  categorie-list-row">
                  <a href="#" style="<%=link_color(1)%>"><span>Tous</span></a>
                </li>  
                <li class=" categorie-list-row">
                  <a href="#" style="<%=link_color(1)%>"><span>Vestes & Manteau</span></a>
                </li>
                <li class=" categorie-list-row">
                  <a href="#" style="<%=link_color(1)%>"><span>Sweats</span></a>
                </li>
                <li class=" categorie-list-row">
                  <a href="#" style="<%=link_color(1)%>"><span>Chemises</span></a>
                </li>
                <li class=" categorie-list-row">
                  <a href="#" style="<%=link_color(1)%>"><span>Blouses</span></a>
                </li>
                <li class=" categorie-list-row">
                  <a href="#" style="<%=link_color(1)%>"><span>T-shirt</span></a>
                </li>
                <li class=" categorie-list-row">
                  <a href="#" style="<%=link_color(1)%>"><span>Tops</span></a>
                </li>
                <li class=" categorie-list-row">
                  <a href="#" style="<%=link_color(1)%>"><span>Jeans</span></a>
                </li>
                <li class=" categorie-list-row">
                  <a href="#" style="<%=link_color(1)%>"><span>Pantalons</span></a>
                </li>
                <li class=" categorie-list-row">
                  <a href="#" style="<%=link_color(1)%>"><span>Jupes</span></a>
                </li>
                <li class=" categorie-list-row">
                  <a href="#" style="<%=link_color(1)%>"><span>Shorts</span></a>
                </li>
                <li class=" categorie-list-row">
                  <a href="#" style="<%=link_color(1)%>"><span>Maillots de bain</span></a>
                </li>
                <li class=" categorie-list-row">
                  <a href="#" style="<%=link_color(1)%>"><span>Lingerie</span></a>
                </li>
                <li class=" categorie-list-row">
                  <a href="#" style="<%=link_color(1)%>"><span>Vêtement d'intérieur & Pyjamas</span></a>
                </li>
                <li class=" categorie-list-row">
                  <a href="#" style="<%=link_color(1)%>"><span>Chaussettes & Collants</span></a>
                </li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 column-container">      
          <div class="row column-title">      
            <a class="list-title" href="#" style="<%=link_color(1)%>">Accessoires & Chaussures</a>
            <ul class="categorie-list"> 
              <li class="  categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Tous</span></a>
              </li>  
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Sacs</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Montres</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Bonnets, Gants & Écharpes</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Porfeuilles & Porte-clefs</span></a>
              </li>
                <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Ceintures</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Bijoux</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Lunettes de soleil</span></a>
              </li>
                <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Parfums</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Bottes</span></a>
              </li>
                <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Baskets</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Chaussures plates</span></a>
              </li>
                <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Escarpins</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Sandales</span></a>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 column-container">      
          <div class="row column-title">      
            <a class="list-title" href="#" style="<%=link_color(1)%>">Tous</a>
            <ul class="categorie-list"> 
              <li class="  categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Tous</span></a>
              </li>  
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Vestes & Manteau</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Pull & Gillet</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Robes & Combinaisons</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Blazers</span></a>
              </li>
                <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Chemises</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Blouses</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>T-shirt</span></a>
              </li>
                <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Tops</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Polos</span></a>
              </li>
                <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Jeans</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Pantalons</span></a>
              </li>
                <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Jupes</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Shorts</span></a>
              </li>
                <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Maillots de bainLingerie</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Vêtement d'intérieur & Pyjamas</span></a>
              </li>
              <li class=" categorie-list-row">
                <a href="#" style="<%=link_color(1)%>"><span>Chaussettes & Collants</span></a>
              </li>
            </ul>
          </div>
        </div>
    </div>
      
  </div>

<div class="login-sign_up-div">
  <div class="login-sign_up-container">
    <div class="login-container">
      <h4>Déjà membre</h4>
      <form>
        
      </form>
    </div>

    <div class="sign_up-container">
    </div>
  </div>
</div>



</header>

